mixin column1(item, link)
	li(class="main-footer__li"): a(href=link  class='foot-icon')=item

mixin column2(item, link)
	li(class="main-footer__li"): a(href=link class='foot-icon')=item

mixin column3(item, link)
	li(class="main-footer__li"): a(href=link class='foot-icon')=item

mixin connect(icon, link, alt)
	li(class="main-footer__connect--li") 
		a(href=link target='_blank')
			img(src=icon, alt=alt)

div(class="main-footer__top")
	a(class='main-footer__top--logo' href='/')
		img(src='assets/img/logo.png', alt='Golden Fran logo' class="top-nav__logo")
div(class='ed-grid m-grid-2 lg-grid-3 row-gap main-footer__content')
	ul(class="main-footer__ul").data-list
		-for(var i = 0; i < column1.length ; i++)
			-var item = column1[i]
			+column1(item.item, item.link)
	ul(class="main-footer__ul").data-list
		-for(var i = 0; i < column2.length ; i++)
			-var item = column2[i]
			+column2(item.item, item.link)
	ul(class="main-footer__ul").data-list
		-for(var i = 0; i < column3.length ; i++)
			-var item = column3[i]
			+column3(item.item, item.link)
a(href="juego-responsable.html" class="btn btn__primary") juego responsable 
div(class="main-footer__bottom")
	p Powered by JazzGS
	img(src='assets/img/powered-jgs.png', alt='jazz logo' class="main-footer__logo")
	//- ul(class="main-footer__ul").data-list
	//- 	li(class="main-footer__li")
	//- 		h4 Connect
	//- 		div(class="main-footer__connect--container")
	//- 			ul(class="main-footer__connect--list") 
	//- 				-for(var i = 0; i < connect.length ; i++)
	//- 					-var item = connect[i]
	//- 					+connect(item.icon, item.link, item.alt)

